body {
  background-color: rgb(190, 255, 255);
}

.title, .list, .form{
  text-align: center;
}

.todo font { /*textにスタイルを適用させたい*/
  padding: 10px;
}

.todo button {
  padding: 5px;
  margin: 10px 5px;
}

.isComplate {
  text-decoration: line-through;
}
